{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {{ if and .Params.displyImage .Params.image }}
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        <h1>{{ .Title | markdownify }}</h1>
        <h4>{{ .Params.SubTitle | markdownify }}</h4>
        <div class="mb-3 post-meta">
          <span>By {{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
          {{ if not .Params.HideDate }}
          <span>,&nbsp;</span>
          <span>{{ .PublishDate.Format "02 January 2006" }}</span>
          {{ end }}
        </div>
        {{ range .Params.Tags }}
        <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary pr-1">#{{ . | title | humanize }}</a>
        {{ end }}
        <div class="content mb-5 pt-3">
          {{ .Content }}
        </div>

        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}